.nachalo{
  background: #FFDEE2
}
img.pic1{
float left: absolute;
  margin-left: 97px;
  margin-top: 50px;
  width: auto;
  height: auto;
  border: 5px solid black;
}
img.pic2{
float left: absolute;
  margin-left: 460px;
  margin-top: -252px;
  width: auto;
  height: auto;
  border: 5px solid black;
}
img.pic3{
float left: absolute;
  margin-left: 830px;
  margin-top: -298px;
  width: auto;
  height: auto;
  border: 5px solid black;
}
.row{
  float left: absolute;
    margin-left: 34px;
    margin-top: 50px;
    width: auto;
    height: auto;
    border: 5px solid #FFDEE2;
}
.haha{
    margin-left: 150px;
}
.slogan{
  float left: absolute;
    margin-left: 500px;
    margin-top: 50px;
    width: auto;
    height: auto;
    border: 5px solid #FFDEE2;
    font-size: 40px;
}
.container-fluid{
padding: 7% 15%;
}
.h1{
  font-family: Dongle-black;
  font-weight: bold;
}
